<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bl.ep.mapper.AdminRoleMapper">
    <cache-ref namespace="com.bl.ep.mapper.AdminRoleMapper"></cache-ref>

    <insert id="insertSelective" parameterType="Role">
        <selectKey keyProperty="id" resultType="Integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into ep_role(role,comment)
        values('${role}','${describe}')
    </insert>

    <update id="updateSelective" parameterType="Role">
        update ep_role
        set comment=#{describe}
        where id = #{id}
    </update>
</mapper>